<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Argentina</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)argentina;</string>
			<string>    return [UIImage imageNamed:@"Argentina"];</string>
		</array>
		<key>Strings.m</key>
		<array>
			<string>+ (NSString *)argentinaImage;</string>
		</array>
	</dict>
	<key>Australia</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)australia;</string>
			<string>    return [UIImage imageNamed:@"Australia"];</string>
		</array>
		<key>CGTAMasterViewController.m</key>
		<array>
			<string>    allFlagImages = @[[UIImage imageNamed:@"USA"], [UIImage imageNamed:@"Canada"], [UIImage imageNamed:@"UK"], [UIImage imageNamed:@"Australia"]];</string>
			<string>    allFlagImages = @[CGTAImagesCatalog.usa, CGTAImagesCatalog.canada, CGTAImagesCatalog.uk, CGTAImagesCatalog.australia];</string>
		</array>
	</dict>
	<key>Austria</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)austria;</string>
			<string>    return [UIImage imageNamed:@"Austria"];</string>
		</array>
	</dict>
	<key>Belgium</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)belgium;</string>
			<string>    return [UIImage imageNamed:@"Belgium"];</string>
		</array>
	</dict>
	<key>Brazil</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)brazil;</string>
			<string>    return [UIImage imageNamed:@"Brazil"];</string>
		</array>
	</dict>
	<key>Cameroon</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)cameroon;</string>
			<string>    return [UIImage imageNamed:@"Cameroon"];</string>
		</array>
	</dict>
	<key>Canada</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)canada;</string>
			<string>    return [UIImage imageNamed:@"Canada"];</string>
		</array>
		<key>CGTAMasterViewController.m</key>
		<array>
			<string>    allFlagImages = @[[UIImage imageNamed:@"USA"], [UIImage imageNamed:@"Canada"], [UIImage imageNamed:@"UK"], [UIImage imageNamed:@"Australia"]];</string>
			<string>    allFlagImages = @[CGTAImagesCatalog.usa, CGTAImagesCatalog.canada, CGTAImagesCatalog.uk, CGTAImagesCatalog.australia];</string>
		</array>
	</dict>
	<key>Chile</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)chile;</string>
			<string>    return [UIImage imageNamed:@"Chile"];</string>
		</array>
	</dict>
	<key>China</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)china;</string>
			<string>    return [UIImage imageNamed:@"China"];</string>
		</array>
	</dict>
	<key>Denmark</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)denmark;</string>
			<string>    return [UIImage imageNamed:@"Denmark"];</string>
		</array>
	</dict>
	<key>Finland</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)finland;</string>
			<string>    return [UIImage imageNamed:@"Finland"];</string>
		</array>
	</dict>
	<key>France</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)france;</string>
			<string>    return [UIImage imageNamed:@"France"];</string>
		</array>
	</dict>
	<key>Germany</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)germany;</string>
			<string>    return [UIImage imageNamed:@"Germany"];</string>
		</array>
	</dict>
	<key>Greece</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)greece;</string>
			<string>    return [UIImage imageNamed:@"Greece"];</string>
		</array>
	</dict>
	<key>Hong Kong</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>    return [UIImage imageNamed:@"Hong Kong"];</string>
		</array>
	</dict>
	<key>Hungary</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)hungary;</string>
			<string>    return [UIImage imageNamed:@"Hungary"];</string>
		</array>
	</dict>
	<key>Iceland</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)iceland;</string>
			<string>    return [UIImage imageNamed:@"Iceland"];</string>
		</array>
	</dict>
	<key>India</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)india;</string>
			<string>    return [UIImage imageNamed:@"India"];</string>
		</array>
	</dict>
	<key>Indonesia</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)indonesia;</string>
			<string>    return [UIImage imageNamed:@"Indonesia"];</string>
		</array>
	</dict>
	<key>Ireland</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)ireland;</string>
			<string>    return [UIImage imageNamed:@"Ireland"];</string>
		</array>
	</dict>
	<key>Israel</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)israel;</string>
			<string>    return [UIImage imageNamed:@"Israel"];</string>
		</array>
	</dict>
	<key>Italy</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)italy;</string>
			<string>    return [UIImage imageNamed:@"Italy"];</string>
		</array>
	</dict>
	<key>Japan</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)japan;</string>
			<string>    return [UIImage imageNamed:@"Japan"];</string>
		</array>
	</dict>
	<key>Malaysia</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)malaysia;</string>
			<string>    return [UIImage imageNamed:@"Malaysia"];</string>
		</array>
	</dict>
	<key>Mexico</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)mexico;</string>
			<string>    return [UIImage imageNamed:@"Mexico"];</string>
		</array>
	</dict>
	<key>Netherlands</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)netherlands;</string>
			<string>    return [UIImage imageNamed:@"Netherlands"];</string>
		</array>
	</dict>
	<key>New Zealand</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>    return [UIImage imageNamed:@"New Zealand"];</string>
		</array>
	</dict>
	<key>Norway</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)norway;</string>
			<string>    return [UIImage imageNamed:@"Norway"];</string>
		</array>
	</dict>
	<key>Pakistan</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)pakistan;</string>
			<string>    return [UIImage imageNamed:@"Pakistan"];</string>
		</array>
	</dict>
	<key>Palestine</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)palestine;</string>
			<string>    return [UIImage imageNamed:@"Palestine"];</string>
		</array>
	</dict>
	<key>Peru</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)peru;</string>
			<string>    return [UIImage imageNamed:@"Peru"];</string>
		</array>
	</dict>
	<key>Poland</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)poland;</string>
			<string>    return [UIImage imageNamed:@"Poland"];</string>
		</array>
	</dict>
	<key>Portugal</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)portugal;</string>
			<string>    return [UIImage imageNamed:@"Portugal"];</string>
		</array>
	</dict>
	<key>Puerto Rico</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>    return [UIImage imageNamed:@"Puerto Rico"];</string>
		</array>
	</dict>
	<key>Romania</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)romania;</string>
			<string>    return [UIImage imageNamed:@"Romania"];</string>
		</array>
	</dict>
	<key>Russia</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)russia;</string>
			<string>    return [UIImage imageNamed:@"Russia"];</string>
		</array>
	</dict>
	<key>Saudi Arabia</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>    return [UIImage imageNamed:@"Saudi Arabia"];</string>
		</array>
	</dict>
	<key>Singapore</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)singapore;</string>
			<string>    return [UIImage imageNamed:@"Singapore"];</string>
		</array>
	</dict>
	<key>South Africa</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>    return [UIImage imageNamed:@"South Africa"];</string>
		</array>
	</dict>
	<key>South Korea</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>    return [UIImage imageNamed:@"South Korea"];</string>
		</array>
	</dict>
	<key>Spain</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)spain;</string>
			<string>    return [UIImage imageNamed:@"Spain"];</string>
		</array>
	</dict>
	<key>Sweden</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)sweden;</string>
			<string>    return [UIImage imageNamed:@"Sweden"];</string>
		</array>
	</dict>
	<key>Switzerland</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)switzerland;</string>
			<string>    return [UIImage imageNamed:@"Switzerland"];</string>
		</array>
	</dict>
	<key>Thailand</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)thailand;</string>
			<string>    return [UIImage imageNamed:@"Thailand"];</string>
		</array>
	</dict>
	<key>Turkey</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)turkey;</string>
			<string>    return [UIImage imageNamed:@"Turkey"];</string>
		</array>
	</dict>
	<key>UK</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)uk;</string>
			<string>    return [UIImage imageNamed:@"UK"];</string>
			<string>+ (UIImage *)ukraine;</string>
			<string>    return [UIImage imageNamed:@"Ukraine"];</string>
		</array>
		<key>CGTAMasterViewController.m</key>
		<array>
			<string>    allFlagImages = @[[UIImage imageNamed:@"USA"], [UIImage imageNamed:@"Canada"], [UIImage imageNamed:@"UK"], [UIImage imageNamed:@"Australia"]];</string>
			<string>    allFlagImages = @[CGTAImagesCatalog.usa, CGTAImagesCatalog.canada, CGTAImagesCatalog.uk, CGTAImagesCatalog.australia];</string>
		</array>
	</dict>
	<key>USA</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)usa;</string>
			<string>    return [UIImage imageNamed:@"USA"];</string>
		</array>
		<key>CGTAMasterViewController.m</key>
		<array>
			<string>    allFlagImages = @[[UIImage imageNamed:@"USA"], [UIImage imageNamed:@"Canada"], [UIImage imageNamed:@"UK"], [UIImage imageNamed:@"Australia"]];</string>
			<string>    allFlagImages = @[CGTAImagesCatalog.usa, CGTAImagesCatalog.canada, CGTAImagesCatalog.uk, CGTAImagesCatalog.australia];</string>
			<string>    CGTAFlagCollectionViewCell *cell = (CGTAFlagCollectionViewCell *)[collectionView dequeueReusableCellWithReuseIdentifier:CGTAMainStoryboardIdentifiers.ImageCell forIndexPath:indexPath];</string>
		</array>
		<key>Main.storyboard</key>
		<array>
			<string>                                        &lt;imageView clipsSubviews="YES" userInteractionEnabled="NO" contentMode="scaleAspectFit" horizontalHuggingPriority="251" verticalHuggingPriority="251" image="USA" translatesAutoresizingMaskIntoConstraints="NO" id="LPM-aq-eVP"&gt;</string>
			<string>                                        &lt;imageView clipsSubviews="YES" userInteractionEnabled="NO" contentMode="scaleAspectFit" horizontalHuggingPriority="251" verticalHuggingPriority="251" image="USA" translatesAutoresizingMaskIntoConstraints="NO" id="2NO-Yu-fto"&gt;</string>
			<string>                            &lt;imageView userInteractionEnabled="NO" contentMode="scaleAspectFit" horizontalHuggingPriority="251" verticalHuggingPriority="251" fixedFrame="YES" image="USA" translatesAutoresizingMaskIntoConstraints="NO" id="A76-iE-vAf"&gt;</string>
			<string>        &lt;image name="USA" width="128" height="128"/&gt;</string>
		</array>
	</dict>
	<key>Ukraine</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)ukraine;</string>
			<string>    return [UIImage imageNamed:@"Ukraine"];</string>
		</array>
	</dict>
	<key>Uruguay</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)uruguay;</string>
			<string>    return [UIImage imageNamed:@"Uruguay"];</string>
		</array>
	</dict>
	<key>Venezuela</key>
	<dict>
		<key>CGTAImages.m</key>
		<array>
			<string>+ (UIImage *)venezuela;</string>
			<string>    return [UIImage imageNamed:@"Venezuela"];</string>
		</array>
	</dict>
</dict>
</plist>
